@use "./style/theme.scss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  background-color: theme.$white;
  // color: theme.$night;
  color: theme.$mainText;
  // font-family: Arial, sans-serif;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  // font-weight: 400;
}
