@use "../../style/theme.scss";

.calendar-head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.selection-section {
}

.month-text,
.year-text {
  @include theme.responsive-font-size(20px, 16px, 14px);
}

.month-text {
  font-weight: bold;
}
